<h2>Soirées à thèmes</h2>

<div>
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="jeu, karaoke, sport ..." [formControl]="searchTerm">
    </mat-form-field>
  </form>
</div>

<div *ngIf="result.length > 0">
  <mat-card *ngFor="let res of result">
    <mat-card-header>
      <mat-card-title>{{res.title}}</mat-card-title>
      <mat-card-subtitle>{{res.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{res.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
